<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Fuel preview</h1>
		<button ng-click="closePreview()" class="button"><i class="icon ion-android-close"></i> close</button>
    </ion-header-bar>
    <ion-content>
			<div class="padding">
			<table>
  <tr>
    <td>Reg No</td>
	<td>{{details.reg}}</td>
	</tr>
	<tr>
    <td>Mileage</td>
	 <td>{{details.mileage}}</td>
	</tr>
	<tr>
	<td>Litres</td>
	 <td>{{details.litre}}</td>
	</tr>
	<tr>
    <td>Cost Per Litre</td>
	  <td>{{details.cost | number}}</td>
	</tr>
	<tr>
	<td>Total Amount</td>
	  <td>{{details.amount | number}}</td>
  </tr>
</table>
</div>
            <div class="padding">
                <button ng-if="islocalstorage" ng-click="remove()" class="button icon-left ion-ios-trash-outline button-assertive">delete</button>
                <button class="button button-royal" ng-click ="save()" ng-if="!islocalstorage">
                    Confirm Saving
                </button>
            </div>
    </ion-content>
</ion-modal-view>