<ion-view view-title="Fuel Local storage" ng-controller="FuellocalstorageCtr">
    <ion-content>
        <button ng-click="init()" class="button button-block button-clear button-positive ">
            <i class="ion-refresh icon"></i>&nbsp; Refresh Now</button>  
        <div class="card">
           <div class="item item-divider"> Fuel Record <b ng-if ="fuelItems.length > 0">({{fuelItems.length}})</b> </div> 
            <div class="item " ng-if ="!fuelItems.length">No data available</div>
            <label class="item item-input item-button-right" ng-repeat ="fuelItem in fuelItems" >
                <div class="input-label">
                    Fuel 
                </div>
                <button ng-click="previewItem(fuelItem)" class="button "><i class="icon ion-eye "></i></button>  
            </label>
            <div class="item item-divider" ng-if ="fuelItems.length > 0">
                <a href ng-click="sychronizeFuel()" class="button icon-left ion-loop">sychronize</a>  
                <a href ng-click="clearFuelItems()" class="button icon-left ion-trash-a">Clear all</a>
            </div>
        </div>    
    </ion-content>
     <div class="bar bar-footer " style="padding: 0;">
         <button ng-click="clearStorage()" class="button button-assertive button-block" style="margin: 0">
                <i class="ion-trash-a icon"></i>&nbsp;clear local storage</button>
        </div>
</ion-view>
