<ion-view view-title="">
  <ion-content>
        <form  ng-controller="PopupCtrl">
		<button class="button button-full button-stable" ng-click="$location.path('app/stock')">
 Stock Management
</button>
<button class="button button-full button-stable" ng-click="$location.path('app/sales')">
  Sales Control
</button>
<button class="button button-full button-stable" ng-click="$location.path('app/payment')">
  Remmitance of Payment
</button>
<button class="button button-full button-stable" ng-click="$location.path('app/fuel')">
  Fuel Management
</button>
<button class="button button-full button-stable" ng-click="$location.path('app/market')">
  Market Intelligence
</button>
<button class="button button-full button-stable" ng-click="$location.path('app/activation')">
   Market Activation
</button>
<button class="button button-full button-stable" ng-click="$location.path('app/customer')">
   New Customer
</button>
          </form>
  </ion-content>
</ion-view>
