
<ion-view view-title="Login Denied" >
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <strong>You cannot login</strong>, <br />
                Local data belongs to <strong>{{username}}</strong> account are not synchronised <br />
                To avoid data loss <strong>{{username}}</strong>  should login first to synchronise or delete data
            </div>
        </div>
        <div class="padding">
            <a href="#/login" class="button button-block button-calm" >Return to Login</a>
        </div>
    </ion-content>

</ion-view>