<ion-view view-title="Settings" ng-controller="settingCtr">
    <ion-content >
        <div class="list">

            <a class="item item-icon-left item-icon-right " href ng-click="getRegion()">   
                <i class="icon ion-location"></i>
                Choose working area
                <i class="icon ion-chevron-right"></i>

            </a>

        </div>
        <script id="settingList.html" type="text/ng-template">
            <ion-modal-view>
            <ion-header-bar class="bar-header bar-positive">
            <h1 class="title">{{modalTitle}}</h1>
            <button ng-click="settingModal.hide()" class="button">
            <i class="icon ion-android-close"></i> close</button>
            </ion-header-bar>
            <ion-content>
            <div class="list">
            <a class="item" ng-click="modalSelect(item)" ng-repeat = "item in list">   
            {{item.name}}
            </a>
            </div>
            </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
    <div class="bar bar-footer " style="padding: 0;">
         <button ng-click="reset()" class="button button-assertive button-block" style="margin: 0">
                <i class="ion-ios-reload icon"></i>&nbsp;Reset settings</button>
        </div>
</ion-view>
